/*
 * Customization.
 */

.container {
    margin-top: 50px;
}
 
#nav {
    margin: 13px 0 0 0;
}
 
#nav ul li {
    display: inline;
    margin: 0 0 0 20px;
}
 
#nav a {
    text-decoration: underline;
    text-transform: uppercase;
}

#bottomnav {
    margin: 0 0 0 0;
}
 
#bottomnav ul li {
    display: inline;
    margin: 0 0 20px 20px;
}

#bottomnav ul li img {
    vertical-align:middle;
}

#splash {
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
#splash h1 {
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
#splash .subhead {
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
#splash .main {
}

.upper {
    text-transform: uppercase;
}

.emlight {
    font-style: italic;
    color: #333;
}

.remove-bottom {
    margin-bottom: 0px !important;
}

.remove-top {
    margin-top: 0px !important;
}

#error { 
  margin: 1px 0 15px 0;
  padding: 2px 2px 2px 8px;
  border-left: 4px solid #e04040;
  background: #fff0f0;
}

#success { 
  margin: 1px 0 15px 0;
  padding: 2px 2px 2px 8px;
  border-left: 4px solid #90e070;
  background: #f0fff0;
}

#sidenav {
    margin: 13px 0 0 0;
}
 
#sidenav ul li {
    display: block;
    margin: 0 0 20px 0;
    text-decoration: none;
    text-transform: uppercase;
}

#sidenav a {
    text-decoration: none;
}

#rtable {
    margin-bottom: 40px;
}

.stack { 
  margin:10px;
  padding:2px;
}

