Your account credentials have been reset, your new password is:

Email: {{& email}}
Password: {{password}}

You can now re-connect to your account at:

{{& portalurl}}

Remember to reconfigure the VPN tunnel with the new password as well!

-- UCN Experiment Team
