Thanks for joining the UCN experiment {{username}}!

Click on the link below to activate your account and to install required software:

{{& url}}

If you have any questions about the expriment or data collection, you can email us: 

{{& contactemail}}

-- UCN Experiment Team