Thanks for joining the UCN experiment!

Click on the link below to activate your account and to install required software:

{{& activationurl}}

Your account credentials are:

Email: {{& email}}
Password: {{password}}

You can connect to your account at:

{{& portalurl}}

If you have any questions about the expriment or data collection, please email us: 

{{& contactemail}}

-- UCN Experiment Team