Thanks for joining the UCN study {{username}}!

Your account credentials are:

Username: {{username}}
Password: as selected

You can connect and manage your account at:

{{& url}}

We have attached to this email a VPN network configuration file. You will need this when installing the required software.

If you have any questions about the expriment or the data collection, you can email us: 

{{& contactemail}}

-- L'equipe UCN