Merci d'avoir rejoint l'étude UCN !

Voici les informations de votre compte :

Nom d'utilisateur : {{username}}
Mot de passe: as selected

Vous pouvez vous connecter et gérer votre compte ici :

{{& url}}

Un fichier de configuration du réseau VPN est attaché à cet email. Vous aurez besoin de ce fichier lors de la configuration du logiciel requis. 

Si vous avez des questions au sujet de l'étude ou de la collecte des données, vous pouvez nous écrire à :

{{& contactemail}}

-- L'equipe UCN